<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
       <a id="simple-menu" href="#sidr" class="menu"><%= image_tag("menu-white.svg") %></a>

        <div id="sidr">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/signup">Create Account</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/image">Travelogues</a></li>
            <li><a href="/sign_in">Log In</a></li>
          </ul>
        </div>
       <%= notice %>
       <%= alert %>

   <%= yield %>

  <div class='footer'>
   <% if Current.user %>
    Logged in as: <%= Current.user.email %><br>
    <%= link_to 'Edit Password', edit_password_path, class: "btn btn-success btn-xs" %>
   
    <%= button_to 'Logout', logout_path, method: :delete, class: "btn btn-success btn-xs" %>
    <% else %>
    <%= link_to 'Sign Up', signup_path, class: "btn btn-success btn-xs" %>
    or
    <%= link_to 'Login', sign_in_path, class: "btn btn-success btn-xs" %>
   <% end %>

   <div class='container'>   
    <p> Carri's Personal Project </p>   
   </div>
   </div>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
     <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
     <script>
      $(document).ready(function() {
        $('#simple-menu').sidr();
      });
     </script
  </body>
</html>
